<%= form_for([@goal, @goal.tasks.build]) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete, id: :task_complete %>
  </div>

  <div class="field">
    <%= form.label :task_due %>
    <%= form.date_select :task_due, id: :task_task_due %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
