<p id="notice"><%= notice %></p>
<p>
  <strong>Belongs to:</strong>
  <%= @goal.user.email %>
</p>
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Date due:</strong>
  <%= @goal.date_due %>
</p>





<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
